# Don't track content of these folders
node_modules/
server/logs/*
.idea/
server/sourcePaintingExamples/
server/paintingExamples/
server/uploads/
server/blockFileExamples/
server/python/__pycache__

package-lock.json
.env

# exception to the rule
!server/logs/.gitkeep 