# Don't track content of these folders
node_modules/
server/logs/*
log_file
.idea/
server/sourcePaintings/
server/sourceFiles/
server/paintings/
server/blocks/
server/python/__pycache__
server/python/model

package-lock.json
.env

# exception to the rule
!server/logs/.gitkeep 