# Don't track content of these folders
node_modules/
server/logs/*
log_file
.idea/
sourcePaintings/
sourceFiles/
paintings/
blocks/
server/python/__pycache__
server/python/model

package-lock.json
.env

# exception to the rule
!server/logs/.gitkeep 