<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Fractal Factory Landing Page</title>

        <link href="css/about.css" rel="stylesheet">
        <script src="js/about.js"></script>
    </head>

    <body>
        <button class="btn" style="width:auto;">Back</button>

        <div class="centerDiv">
            <h2 class="ff">Fractal Factory: About Us</h2>

            <img src="images/fractal.jpg" id="fractalImg"/>

            <p>&emsp;Fractal Factory was created for the purpose of a senior capping project at Marist College.
            The team that created this application consisted of five students: Brandon Kline, Candice Rivera, Eric Stenton,
            Kenny Mejia, and Jada Tijani while under the supervision of Dr.Pablo Rivas, an Assistant Professor of Computer
            Science. The goal was to create a service that allows users to upload source code that our application will
            turn into an image of blocks, calculate its fractal dimension, and match it with an existing painting in our database.
            Once a match is found a new painting would be produced in the style of the painting that it was matched with.
            You only need about 100 lines of code to try it out, we hope you enjoy our application!</p>
        </div>

    </body>

</html>