<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="css/login.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Long+Cang&display=swap" rel="stylesheet">
        <title>Login</title>
        <script src="js/login.js"></script>
    </head>

    <body>
        <div class="centerDiv">
            <h2 class="ff">Fractal Factory Login</h2>

            <div class="centerDiv">
                <div id="messages">
                    <% if (messages.error) { %>
                        <%= messages.error%>
                    <% }%>
                </div>
                <button class="btn" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Local Login</button>
                <button class="btn" onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Local Register</button>
                <button class="btn" onclick="document.getElementById('id03').style.display='block'" style="width:auto;">Marist Login</button>
                <button class="btn" onclick="document.getElementById('id04').style.display='block'" style="width:auto;">Facebook Login</button>
                <button class="btn" onclick="document.getElementById('id05').style.display='block'" style="width:auto;">Twitter Login</button>

                <form action="/about" method="GET">
                    <button class="btn" type="submit">About</button>
                </form>
            </div>

            <div id="id01" class="modal">
                <form class="modal-content animate" action="/login" method="POST">
                    <div class="imgcontainer">
                        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                        <img src="/images/localLogo.png" alt="Avatar" class="avatar">
                    </div>

                    <div class="container">
                        <label for="username"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="username" required>

                        <label for="password"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="password" required>

                        <button type="submit">Login</button>
                        <label>
                            <input type="checkbox" checked="checked" name="remember"> Remember me
                        </label>
                    </div>

                    <div class="container" style="background-color:#f1f1f1">
                        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                        <span class="psw">Forgot <a href="#">password?</a></span>
                    </div>
                </form>
            </div>

            <div id="id02" class="modal">
                <form class="modal-content animate" action="/register" method="POST">
                    <div class="imgcontainer">
                        <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
                        <img src="/images/localLogo.png" alt="Avatar" class="avatar">
                    </div>

                    <div class="container">
                        <div>
                            <label for="username">Username</label>
                            <input type="text" name="username" required>
                        </div>
                        <div>
                            <label for="password">Password</label>
                            <input type="password" name="password" required>
                        </div>
                    </div>

                    <div class="container" style="background-color:#f1f1f1">
                        <button type="submit">Register</button>
                    </div>
                </form>
            </div>

            <div id="id03" class="modal">
                <form class="modal-content animate" action="/auth/cas" method="GET">
                    <div class="imgcontainer">
                        <span onclick="document.getElementById('id03').style.display='none'" class="close" title="Close Modal">&times;</span>
                        <img src="/images/maristLogo.png" alt="Avatar" class="avatar">
                    </div>
                    <div class="container">
                        <button type="submit">Marist Login</button>
                    </div>
                </form>
            </div>

            <div id="id04" class="modal">
                <form class="modal-content animate" action="/auth/facebook" method="GET">
                    <div class="imgcontainer">
                        <span onclick="document.getElementById('id04').style.display='none'" class="close" title="Close Modal">&times;</span>
                        <img src="/images/facebookLogo.png" alt="Avatar" class="avatar">
                    </div>
                    <div class="container">
                        <button type="submit">Facebook Login</button>
                    </div>
                </form>
            </div>

            <div id="id05" class="modal">
                <form class="modal-content animate" action="/auth/twitter" method="GET">
                    <div class="imgcontainer">
                        <span onclick="document.getElementById('id05').style.display='none'" class="close" title="Close Modal">&times;</span>
                        <img src="/images/twitterLogo.png" alt="Avatar" class="avatar">
                    </div>
                    <div class="container">
                        <button type="submit">Twitter Login</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>