<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="css/index.css" rel="stylesheet">
        <title>Fractal Team Landing Page</title>
        <script src="js/index.js"></script>
    </head>

    <body>
        <h2 class="ff">Fractal Team Login</h2>

        <button class="btn" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>

        <% if (messages.error) { %>
            <%= messages.error%>
        <% }%>

        <div id="id01" class="modal">
            <form class="modal-content animate" action="/login" method="POST">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                    <img src="/images/logo.png" alt="Avatar" class="avatar">
                </div>

                <div class="container">
                    <label for="username"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="username" required>

                    <label for="password"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" required>

                    <button type="submit">Login</button>
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                </div>

                <div class="container" style="background-color:#f1f1f1">
                    <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                    <a href="/register">Register</a>
                    <span class="psw">Forgot <a href="#">password?</a></span>
                </div>
            </form>
        </div>

        <div class="square"></div>
        <img class="img" src="/images/fractalSplash.jpg" alt="Fractal Factory Splash Screen"> 

    </body>

</html>