<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <link href="css/profile.css" rel="stylesheet">
        <title>Fractal Team Profile Page</title>


        <script src="js/profile.js"></script>
        <script src="https://d3js.org/d3.v3.js"></script>
    </head>

    <body>

        
        <div class="container">
                <header>
                  <i class="fa fa-bars" aria-hidden="true"></i>
                </header>
                
                <main>
                  <form action="/logout?_method=DELETE" method="POST" id="logoutForm">
                      <button type="submit">Log Out</button>
                  </form>

                  <% if(statistics) {%>
                      <div id="statistics">
                          <h2>Application Statistics</h2>

                          <div id="chart"></div>
                          <div id="dataset-picker"></div>

                          <% for (let [key, value] of Object.entries(statistics) ) { %>
                             <div class="statistic"><%=key%>: <%=value%></div>
                          <%}%>
                      </div>
                  <%}%>
                  
                  <div class="row">
                      <div class="left col-lg-4">
                          <h4 class="name">Marist Student</h4>
                          <p class="info">student1337@marist.edu</p>
                          <div class="number-stat"><%=userPaintings.length%></div>
                          <div class="desc-stat">Uploads</div>
                      </div>
                  </div>
                    
                    <div class="right col-lg-8">
                      <div class="nav">
                        <form action="/upload" id="upload">
                            <button type="submit">Lets Upload!</button>
                        </form>  
                      </div>
                      
                      <div class="nav">
                            Gallery
                      </div>

                        <div class="gallery">
                            <% for (let i=0; i<userPaintings.length; i++) { %>
                                <div class="gallery">
                                    <img src="/user-painting/<%=userPaintings[i].user_painting_id%>"/>
                                </div>
                            <%}%>

                            <% if(userPaintings.length == 0) {%>
                                <p class="info">You have no paintings!</p>
                            <%}%>
                        </div>
                    </div>
                </main>

        </div>
    
    </body>

</html>