<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <link href="css/profile.css" rel="stylesheet">
        <title>Profile</title>
    </head>

    <body>
        <div class="container">
                <header>
                  <i class="fa fa-bars" aria-hidden="true"></i>
                </header>
                <main>
                  <form action="/logout?_method=DELETE" method="POST" id="logoutForm">
                      <button type="submit">Log Out</button>
                  </form>
                  <div class="row">
                    <div class="left col-lg-4" id="infoContainer">
                      <div class="photo-left">
                      </div>
                      <h4 class="name">Kenny Mejia</h4>
                      <p class="info">Software Developer</p>
                      <p class="info">kenny.mejia1@marist.edu</p>
                      <div class="stats row">
                        <div class="stat col-xs-4">
                          <div class="number-stat"><%=userPaintings.length%></div>
                          <div class="desc-stat">Uploads</div>
                        </div>
                      </div>
                      <p class="desc">Hi ! My name is Kenny Mejia Im A CS Student.</p>
                    </div>
                    <div class="right col-lg-8">
                      <div class="nav">
                            Gallery
                      </div>

                        <div class="gallery">
                            <% for (let i=0; i<userPaintings.length; i++) { %>
                                <div class="gallery">
                                    <img src="/user-painting/<%=userPaintings[i].user_painting_id%>"/>
                                </div>
                            <%}%>

                            <% if(userPaintings.length == 0) {%>
                                <p class="info">You have no paintings!</p>
                            <%}%>
                        </div>

                    </div>
                </main>
              </div>
    </body>

</html>