<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Fractal Factory Purchase Page</title>
    <link rel="icon" href="/images/favicon.png">
    <link href="css/purchase.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Long+Cang&display=swap" rel="stylesheet">
    <script src="js/purchase.js"></script>
    <script src="https://commerce.coinbase.com/v1/checkout.js"></script>
</head>

<body>
    <form action="/logout?_method=DELETE" method="POST" id="logoutForm">
        <button type="submit">Log Out</button>
    </form>

    <form action="/profile" id="profile">
        <button type="submit">Back To Profile</button>
    </form>

    <div id="centerDiv">
        <h2 class="ff">Here is your painting!</h2>

        <div id="paintingDiv">
            <img src="<%=paintingLink%>"/>
        </div>

        <div id="cp-store-root" data-cp-settings='{ "access_key": "<%=canvasPopKey%>", "modal": true }'></div>
        <script>
            (function ( d, s, id ) {
                var js, cpJs = d.getElementsByTagName( s )[0], t = new Date();
                if ( d.getElementById( id ) ) return;
                js = d.createElement( s );
                js.id = id;
                js.setAttribute( 'data-cp-url', 'https://store.canvaspop.com' );
                js.src = 'https://store.canvaspop.com/static/js/cpopstore.js?bust=' + t.getTime();
                cpJs.parentNode.insertBefore( js, cpJs );
            }( document, 'script', 'canvaspop-jssdk' ));
        </script>

        <div id="purchaseDiv">
            <button class="btn" id="watermarkBtn">Remove Watermark</button>
            <button class="btn" data-cp-url="<%=paintingFullLink%>">
                Buy Canvas Print
            </button>
        </div>

        <div id="watermarkModal" class="modal">
            <form class="modal-content animate" action="https://commerce.coinbase.com/checkout/edfc4b6e-886a-4199-862f-5a21e9af3d51">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('watermarkModal').style.display='none'" class="close" title="Close Modal">&times;</span>
                    <img src="/images/cart.png" alt="Cart" id="cartSymbol">
                </div>
                <div class="container">
                    <button id="bitcoinBtn" type="submit">
                        <img src="/images/bitcoin.png" alt="Bitcoin" id="bitcoinSymbol">Pay with Crypto
                    </button>
                </div>
            </form>
        </div>

    </div>

</body>

</html>