<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Fractal Factory Results Page</title>

        <link href="css/results.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Long+Cang&display=swap" rel="stylesheet">
        <script src="js/results.js"></script>
    </head>

    <body>
        <form action="/logout?_method=DELETE" method="POST" id="logoutForm">
            <button type="submit">Log Out</button>
        </form>

        <form action="/profile" id="profile">
            <button type="submit">Back To Profile</button>
        </form>

        <div id="centerDiv">
            <h2 class="ff">Here are your Matches!</h2>

            <div id="choices">
                <% for (let i=0; i<paintings.length; i++) { %>
                <div class="choice">
                    <img class="painting" src="/painting/<%=paintings[i].painting_id%>"/>
                    <div class="paintingInfo">
                        <div>Title: <%=paintings[i].name%> </div>
                        <div>Painter: <%=paintings[i].painter%> </div>
                        <div>Year: <%=paintings[i].year_created%> </div>
                    </div>
                </div>
                <%}%>
            </div>

        </div>

    </body>

</html>