<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <link href="css/upload.css" rel="stylesheet">
        
        <title>Fractal Team Upload Page</title>
    </head>

    <body>
        
        <script src="js/upload.js"></script>

        <div class="centerDiv">
            <h2 class="ff">Fractal Team Upload</h2>

            <form enctype="multipart/form-data" method="post">
                <input class="custom-file-input" type="file" name="upload">
                <input class="form-submit-button" type="submit" name="submit">
            </form>
            
            <textarea class="textBoxCode" placeholder="Paste Code Here..." cols="92" rows="20"></textarea>

        </div>
    </body>

</html>
