<!--
Description: HTML for upload page. Displays two forms for the user to submit their source code
             either through a text field or file upload.
Contributor(s): Kenny Mejia
-->

<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <link href="css/upload.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Long+Cang&display=swap" rel="stylesheet">
        <link rel="icon" href="/images/favicon.png">
        <title>Fractal Team Upload Page</title>

        <script src="js/upload.js"></script>
    </head>

    <body>
        <form action="/logout?_method=DELETE" method="POST" id="logoutForm">
            <button type="submit">Log Out</button>
        </form>

        <form action="/profile" id="profile">
            <button type="submit">Back To Profile</button>
        </form>

        <div class="centerDiv">
            <h2 class="ff">Fractal Factory Upload</h2>

            <form enctype="multipart/form-data" method="post" id="fileForm">
                <input name="upload" class="custom-file-input" type="file" accept="text/*" id="fileUpload" placeholder="Choose a file" required/>
                <label for="fileUpload" id="fileUploadLabel">Choose a file</label>
                <input class="form-submit-button" type="submit" name="submit">
            </form>

            <form action="/uploadText" method="post" id="textForm">
                <textarea id="inputTextToSave" class="textBoxCode" name="text"
                    placeholder="Paste Code Here..." cols="92" rows="20" required></textarea>
                <button class="textAreaSubmit" type="submit">Submit Text Area</button>
            </form>

        </div>

    </body>

</html>
