html {
    background:
        /* top, transparent black, faked with gradient */
            linear-gradient(
                    rgba(0, 0, 0, 0.8),
                    rgba(0, 0, 0, 0.8)
            ),
            url(../images/fractalSplash.jpg)
            no-repeat
            fixed
            center
            center;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.btn {
    color: #494949;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #494949;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

.btn:hover {
    color: #ffffff;
    background: #808080;
    border-color: #808080;
    transition: all 0.4s ease 0s;
    cursor: pointer;
}

.ff {
    color:white;
    font-family: 'Long Cang', cursive;
    font-weight: 900;
    font-size: 600%;
    text-align: center;
    text-shadow: -1px 2px 2px #000;
    margin-top: -10px;
}
.about
{
    margin-top: -80px;
    color:white;
    font-family: 'Long Cang', cursive;
    font-weight: 900;
    font-size: 600%;
    text-align: center;
    text-shadow: -1px 2px 2px #000;
    margin-bottom: 30px;
}
.details
{
    margin-top: 30px;
    color:white;
    font-weight: 100;
    font-size: 150%;
    text-align: center;
    text-shadow: -2px 4px 4px #000;
    margin-bottom: 150px;
}

#fractalImg {
    width: 300px;
}

.centerDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color:white;
}

.centerDiv p {
    width: 500px;
}

#teamDiv {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;

    margin-bottom: 150px;
}

.teamMember {
    margin: 50px;
    text-align: center;
}

.teamMemberLinks {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.teamMemberPic {
    width: 250px;
}

.teamMemberName {
    text-align: center;
    font-size: 30pt;
}

.mediaImg {
    width: 75px;
}