html,body {
    background: #050505;
  }

  .container {
    max-width: 1250px;
    margin: 30px auto 30px;
    padding: 0 !important;
    width: 90%;
    box-shadow: 0 3px 6px rgba(100,100,100,0.20), 0 3px 6px rgba(100,100,100,0.20);
    z-index: 22;
  }

  header {
    background: #eee;
    filter: blur(2px);
    background-image: url("https://image.freepik.com/free-photo/desktop-source-code-wallpaper-by-computer-language-with-coding-programming_33771-595.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
    height: 250px;
    box-shadow: 0 3px 6px rgba(100,100,100,0.20), 0 3px 6px rgba(100,100,100,0.20);
  }
  
  header i {
    position: relative;
    cursor: pointer;
    right: -96%;
    top: 25px;
    font-size: 18px !important;
    color: #fff;
  }
  
  @media (max-width:800px) {
    header {
      height: 150px;
    } 
    
    header i {
      right: -90%;
    }
  }
  
  main {
        padding: 20px 20px 0px 20px;
  }
  
  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #statistics {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
  }
  
  .photo {
    width: 200px;
    height: 200px;
    margin-top: -120px;
    border-radius: 100px;
    border: 4px solid #fff;
  }
    
  .name {
    margin-top: 10%;
    font-family: cursive;
    font-weight: 600;
    font-size: 50pt;
    color: white;
    text-shadow: -1px 2px 2px #000;
  }
  
  .info {
    margin-top: -50px;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20pt;
    color: white;
    text-shadow: -1px 2px 2px #000;
  }
  
  .stats {
    margin-top: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ededed;
    font-family: 'Montserrat', sans-serif;
  }
  
  
  .number-stat {
    margin-top: 25px;
    font-size: 30pt;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-shadow: -1px 2px 2px #000;
  }
  
  .desc-stat {
    margin-top: 20px;
    font-size: 24pt;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-shadow: -1px 2px 2px #000;
  }
  
  .right {
    padding: 0 25px 0 25px !important;
  }
  
  .nav {
    text-align: center;
  }
  
  .nav {
    margin: 40px 30px 0 10px;
    font-size: 18pt;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #888;
    text-align: center;
  }
    
  .gallery  {
    margin-top: 35px;
    left: 50%;
    top: 50%;
  }
  
  .gallery img {
    box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
    width: 100%; 
    height: auto;
    cursor: pointer;
    max-width: 100%;
    left: 50%;
    top: 50%;
  }

  .gallery .info {
    text-align: center;
    padding-top: 20px;
  }

  #logoutForm button {
    color: #494949;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #494949;
    display: inline-block;
    transition: all 0.4s ease 0s;
  }

#logoutForm button:hover {
  color: #ffffff;
  background: #808080;
  border-color: #808080;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

#infoContainer {
  clear: both;
}

#upload button {
    color: #494949;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #494949;
    display: inline-block;
    transition: all 0.4s ease 0s;
  }

#upload button:hover {
  color: #ffffff;
  background: #808080;
  border-color: #808080;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

#chart {

}

#dataset-picker {
  margin-bottom: 50px;
}

#chart rect.bordered, #dataset-picker rect.bordered {
  stroke: #E6E6E6;
  stroke-width:2px;
}

#chart text.mono, #dataset-picker text.mono {
  font-size: 9pt;
  font-family: Consolas, courier;
  fill: #aaa;
}

#chart text.axis-workweek, #dataset-picker text.axis-workweek {
  fill: #FF0000;
}

#chart text.axis-worktime, #dataset-picker text.axis-worktime {
  fill: #FF0000;
}