html {
    background:
        /* top, transparent black, faked with gradient */
            linear-gradient(
                    rgba(0, 0, 0, 0.8),
                    rgba(0, 0, 0, 0.8)
            ),
            url(../images/fractalSplash.jpg)
            no-repeat
            fixed
            center
            center;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ff {
    color:white;
    font-family: 'Long Cang', cursive;
    font-weight: 900;
    font-size: 500%;
    text-align: center;
}

.btn {
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: block;
}

#centerDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#choices {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.painting {
    width: 200px;
    margin: 10px;
}

.painting:hover {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.choice:hover {
    cursor: pointer;
}

.paintingInfo {
    color: white;
    width: 200px;
}

#profile button {
    color: #494949;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #494949;
    display: inline-block;
    margin-left: 10px;
    transition: all 0.4s ease 0s;
}

#profile button:hover {
    color: #ffffff;
    background: #808080;
    border-color: #808080;
    transition: all 0.4s ease 0s;
    cursor: pointer;
}

#logoutForm button {
    color: #494949;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #494949;
    display: inline-block;
    float: left;
    transition: all 0.4s ease 0s;
}

#logoutForm button:hover {
    color: #ffffff;
    background: #808080;
    border-color: #808080;
    transition: all 0.4s ease 0s;
    cursor: pointer;
}

#loadingDiv {
    margin: 0 auto;
    color: white;
    text-align: center;
}