html {
    background:
        /* top, transparent black, faked with gradient */
            linear-gradient(
                    rgba(0, 0, 0, 0.8),
                    rgba(0, 0, 0, 0.8)
            ),
            url(../images/fractalSplash.jpg)
            no-repeat
            fixed
            center
            center;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.centerDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ff {
    color:white;
    font-family: 'Long Cang', cursive;
    font-weight: 900;
    font-size: 600%;
    text-shadow: -1px 2px 2px #000;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
}

.textBoxCode {
    margin-top: 4%;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 16px;
    background-color: darkgray;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 6px 10px 6px 20px;
}
.textBoxCode::placeholder {
    color: black;
}

#fileUpload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#fileUpload + label {
    background-color: black;
    display: inline-block;
    text-shadow: 1px 1px #fff;
    font-weight: 800;
    font-size: 10pt;
    margin-top: 2%;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
}

#fileUpload:focus + label,
#fileUpload + label:hover {
    border-color: black;
    cursor: pointer;
}

#fileUpload:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

#fileUpload:active + label {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

#fileUpload + label * {
    pointer-events: none;
}

.form-submit-button {
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}
.form-submit-button:hover::before {
    border-color: black;
}
.form-submit-button:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }

.textAreaSubmit {
    display: block;
    margin: auto;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    margin-top: 15px;
}
.textAreaSubmit:hover::before {
    border-color: black;
}

.textAreaSubmit:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

#textForm {
    text-align: center;
}

#infoContainer {
    clear: both;
}
  
#profile button {
    color: #494949;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #494949;
    display: inline-block;
    margin-left: 10px;
    transition: all 0.4s ease 0s;
}
  
#profile button:hover {
    color: #ffffff;
    background: #808080;
    border-color: #808080;
    transition: all 0.4s ease 0s;
    cursor: pointer;
}

#logoutForm button {
    color: #494949;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #494949;
    display: inline-block;
    float: left;
    transition: all 0.4s ease 0s;
}

#logoutForm button:hover {
    color: #ffffff;
    background: #808080;
    border-color: #808080;
    transition: all 0.4s ease 0s;
    cursor: pointer;
}

#loadingDiv {
    margin: 0 auto;
    color: white;
    text-align: center;
}